.img1 {
    background: url(imagem1.png) center center no-repeat;
    width: 330;
    height: 430;
}

/* .img2 {
    background: url(imagem2.png) center center no-repeat;
    width: 330;
    height: 430;
}  */